body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  user-select: none;
}


.container {
  text-align: center;
}

.header {
  text-align: center;
  margin: 5rem 0 ; 
}

td, th {
  text-align: center;
  user-select: none;
  padding: 6px;
}

tbody > tr:hover {
  background-color: rgb(245,245,245);
  cursor: pointer;
}

.modal {
  text-align: center;
}

.modal-ingredients {
  text-align: left;
}

input, textarea {
  width: 100%;
  resize: vertical;
  max-height: 300px;
}

.modal-buttons > div > button {
  margin: 10px;
}

.button-danger {
  color: white;
  background-color: #c0392b;
}

.button-danger:hover {
  color: white;
  background-color: #c0392b;
}